html {
    	font-family: sans-serif;
}
body{
	background-color: rgb(0, 26, 26);
  	background-image: radial-gradient(rgba(0, 0, 0, .1) 3px, transparent 0 );
  	background-size: 10px 10px;
  	background-position: -19px -19px;
	display: flex;
	margin: 0;
	width: 100%;
  	flex-direction: column;
	min-height: 100vh;
}

img{
	margin-top: 2vh;
	margin-left: 3vh;
	vertical-align: middle;
}
h1{
	color: white;
	font-family: sans-serif;
	font-weight: lighter;
	display: inline;
	vertical-align: text-top;
}
.tab {
margin: 1vh;
margin-top: 1.5vh;
margin-bottom: 0;
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

.tab button {
  background-color: inherit;
  font-size: 1.5vh;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

.tab button:hover {
  background-color: #ddd;
}

.tab button.active {
  background-color: #ccc;
}

.tabcontent {
	min-height: 60vh;
	margin: 1vh;
	margin-top: 0;
  	display: none;
  	background-color: rgba(0, 0, 0, .3);
  	padding: 6px 12px;
  	border: 1px solid #ccc;
  	border-bottom-right-radius: 1vh;
  	border-bottom-left-radius: 1vh;
  	border-top: none;
 	animation: fadeEffect 1s; 
  	color: white;
  	padding-bottom: 2vh;
  	margin-bottom: 5vh;
}

@keyframes fadeEffect {
  	from {opacity: 0;}
  	to {opacity: 1;}
}

footer{
	font-size: 1.2vh;
	color: white;
	margin: 0;
	padding: 2vh;
	margin-top: auto;
	background-color: rgba(50, 50, 50,1.0);
	height: 10vh;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}

.grid-item {
  text-align: right;
}
